[Unit]
Description=RoundCube address book search and tag milter service

[Service]
Type=simple
User=postfix
Group=postfix
ExecStart=/usr/bin/python2 /etc/postfix/milter-abook-mysql.py
StandardOutput=syslog
StandardError=syslog
Restart=on-failure
PIDFile=/var/run/milter-rc-abook/main.pid
WorkingDirectory=/var/run/milter-rc-abook
RuntimeDirectory=milter-rc-abook

[Install]
WantedBy=default.target
